<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Login</title>
</head>
<body>
    <div class="container">
        <% if (messages.length >0) { %>
            <div class="alert"><%= messages %></div>
        <% } %>
        <div class="inner-box">
            <h2 class="title">Login</h2>
            <form action="/user/Login" method="POST">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" placeholder="email" required/>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="password" required/>
            </div>
            <div class="button-group">
                <button type="submit">Submit</button>
            </div>
            </form>
        </div>
    </div>
</body>
</html>