<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Sign up</title>
</head>
<body>
    <div class="container">
        <div class="inner-box">
            <h2 class="title">Sign Up</h2>
            <form action="/user/signup" method="POST">
                <div class="form-group">
                    <label>Fullname</label>
                    <input type="text" name="fullname" placeholder="fullname" required/>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" placeholder="email" required/>
                </div>
                <div class="form-group">
                    <label>Age</label>
                    <input type="number" name="age" placeholder="age" required/>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="password" required/>
            </div>
            <div class="button-group">
                <button type="submit">Submit</button>
            </div>
            </form>
        </div>
    </div>
</body>
</html>